[submodule "Tubes-1-IF2210-OOP-K-JKW"]
	path = Tubes-1-IF2210-OOP-K-JKW
	url = https://github.com/NoHaitch/Tubes-1-IF2210-OOP-K-JKW
[submodule "Tubes-2-IF2210-OOP-JAV"]
	path = Tubes-2-IF2210-OOP-JAV
	url = https://github.com/NoHaitch/Tubes-2-IF2210-OOP-JAV
